@model MyLittleBusiness.Models.Client

@{
    ViewData["Title"] = "Edycja danych klienta";
}

<style>
    .card {
        background-color: mediumseagreen;
    }
</style>

<h1 class="text-center m-3 p-3">Edycja</h1>

<div class="d-flex justify-content-center">
    <div class="card text-white col-md-6 p-3">
        <div class="card-title">
            <h3 class="text-center m-2 p-2">Klient nr. @Model.ClientId</h3>
        </div>
        <hr />
        <div class="row">
            <div>
                <form class="row justify-content-around" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ClientId" />
                    <div class="form-group col-md-6">
                        <label asp-for="ClientName" class="control-label"></label>
                        <input asp-for="ClientName" class="form-control" />
                        <span asp-validation-for="ClientName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="NIP" class="control-label"></label>
                        <input asp-for="NIP" class="form-control" />
                        <span asp-validation-for="NIP" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                        <a class="btn btn-danger text-white text-decoration-none btn-link m-1" asp-action="Index"><div>Powrót</div></a>
                        <input type="submit" value="Zapisz" class="btn btn-primary m-1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
