@model MyLittleBusiness.Models.FactureHasItem
@{
    ViewData["Title"] = "Dodaj towar do faktury";
}

<style>
    .card {
        background-color: mediumseagreen;
    }
</style>

<h1 class="text-center m-3 p-3">Dodaj towar</h1>

<div class="d-flex justify-content-center">
    <div class="card text-black col-md-6 p-3">
        <div>
            <h1 class="text-center">Nowa pozycja w fakturze</h1>
        </div>
        <hr />
        <div class="row">
            <div>
                <form class="row justify-content-around" asp-action="Create" asp-route-id=@Model.FactureId>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-10">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group col-10">
                        <label asp-for="ItemId" class="control-label">Towar</label>
                        <select asp-for="ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                        <a class="btn btn-danger text-white text-decoration-none btn-link m-1" asp-action="Index" asp-route-id=@Model.FactureId><div>Powrót</div></a>
                        <input type="submit" value="Dodaj" class="btn btn-primary m-1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
