@model MyLittleBusiness.Models.Item

@{
    ViewData["Title"] = "Dodaj towar";
}

<style>
    .card {
        background-color: mediumseagreen;
    }
</style>

<h1 class="text-center m-3 p-3">Dodaj towar</h1>

<div class="d-flex justify-content-center">
    <div class="card text-white col-md-6 p-3">
        <div class="row">
            <div>
                <form class="row justify-content-around" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PriceNetto" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="PriceNetto" class="form-control" />
                            <div class="input-group-propend">
                                <div class="input-group-text">zł</div>
                            </div>
                        </div>
                        <span asp-validation-for="PriceNetto" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="VatValue" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="VatValue" class="form-control" />
                            <div class="input-group-propend">
                                <div class="input-group-text">%</div>
                            </div>
                        </div>
                        <span asp-validation-for="VatValue" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ProductCountAs" class="control-label"></label>
                        <select asp-for="ProductCountAs" class="form-control" asp-items="Html.GetEnumSelectList<ProductCountAs>()"></select>
                        <span asp-validation-for="ProductCountAs" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center pt-3">
                        <a class="btn btn-danger text-white text-decoration-none btn-link m-1" asp-action="Index"><div>Powrót</div></a>
                        <input type="submit" value="Dodaj" class="btn btn-primary m-1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



